.checkout-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info{
    /* width: 60%; */
    /* border: 2px solid lightcoral; */
}

.cart{
    /* width: 40%; */
    /* border: 2px solid lightcoral; */
}

