

.header {
  text-align: center;    
}

.header li {
  display: inline-block;
  list-style-type: none;
  margin:10px 40px;
  padding: 10px;
  font-size: 20px;
  font-family: fantasy;
  color: black;  
}
.header li:hover{
  background-color: lightsalmon;
  zoom: 1.2;
}

.header .store {
  color: peru;
    font-size: 28px;
    margin: 15px 0px 5px 0px;
    display: inline-block;
    border-bottom: 5px solid black
}

:any-link{
  color: black;
  text-decoration: none;
}

